<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tarena.ht.mapper.ModuleMapper">
	<!-- 权限列表 -->
	<select id="findModuleList" resultMap="moduleRM">
		select * from
		module_p m
		left join
		(select module_id as pm_id, name as parent_name from
		module_p) p
		on m.parent_id = p.pm_id
	</select>

	<resultMap type="Module" id="moduleRM">
		<!-- 主键 -->
		<id property="moduleId" column="module_id" />
		<!-- 结果集  -->
		<result property="name" column="name"/>
		<result property="ctype" column="ctype"/>
		<result property="state" column="state"/>
		<result property="orderNo" column="order_no"/>
		<result property="remark" column="remark"/>

		<!--映射private Module parentId; //父模块 -->
		<association property="parent" javaType="Module">
			<id property="moduleId" column="pm_id"/>
			<result property="name" column="parent_name"/>
		</association>
	</resultMap>
	
	<!-- 改变启用状态 
	<update id="updateState">
		update module_p set state = #{state} where module_id = #{moduleId}
	</update> -->
	<!--  -->
	
	<!-- 新增模块 -->
	<insert id="saveModule">
		insert into module_p(module_id,name,parent_id,remark,ctype,order_no,create_time) values(
			#{moduleId},
			#{name},
			#{parent.moduleId},
			#{remark},
			#{ctype},
			#{orderNo},
			#{createTime,jdbcType=VARCHAR}
		)
	</insert>
	
	<!-- 删除模块 -->
	<delete id="deleteModules">
		delete from module_p where module_id in 
		<foreach collection="array" item="moduleId" separator=",">
			#{moduleId}
		</foreach>
	</delete>
	
	
	<!-- 查看权限模块 -->
	<select id="getModuleOneById" resultMap="moduleRM">
		select * from module_p m
	    left join 
	    (select m.module_id as pm_id,m.name as parent_name from module_p m) p
	    on m.parent_id = p.pm_id		
		where module_id = #{moduleId}
	</select>
	
	<!-- 修改模块 -->
	<update id="updateModule">
		update module_p
		<set>
			name=#{name},
			ctype=#{ctype},
			order_no = #{orderNo},
			remark=#{remark},
			<if test="updateBy !=null">update_by=#{updateBy},</if>
			<if test="updateTime !=null">update_time=#{updateTime},</if>
		</set>
		where module_id = #{moduleId}
	</update>
	
	<!-- 查询用户的权限及其父级权限 -->
	<select id="findModuleStartList" resultMap="moduleRM">
		select * from module_p m
	    left join 
	    (select m.module_id as pm_id,m.name as parent_name from module_p m) p
	    on m.parent_id = p.pm_id		
		where state =1
	</select>
</mapper>